
<div class="album py-5 bg-light">
  <div class="container">
    <h1>Casilla de mensajes</h1>
    <table class="table table-hover">
      <tbody>
        <% if @conversations.present? %>
          <% @conversations.each do |message| %>
          <% user_id = message.get_counterparty_id_of(current_user) %>
            <tr>
              <td><%= link_to "#{message.name(current_user)}", book_messages_path(user_id, message.book.id) %></td>
              <td><%= message.book.title %></td>
              <td><%= message.created_at.strftime("%d/%m/%y, %H:%M") %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>
