<h1>Casilla de mensajes</h1>


<table class="table table-hover">
  <tbody>
    <% @my_messages.mine.each do |message| %>
    <tr>
      <td><%= if message.sender == @current_user ? message.recipient.first_name : message.sender.first_name %></td>
      <td>message.book</td>
      <td>message.created_at</td>
      <td>@mdo</td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @messages %>